.top-con,.header-con,.header-con,.nav-con{
    width: 1170px;
    margin: 0 auto;
}
#top{
    background-color: #f5f5f5;
}
.top-con{
    height: 28px;
    z-index: 40;
}
.top-con>.region{
    width: 86px;
    height: 28px;
    position: relative;
    float: left;
}
.top-con>.region>.region-header{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #666;
}

.top-con .region .region-header .region-body{
    width: 480px;
    height: 260px;
    background-color: lightcoral;
    position: absolute;
    top: 28px;
    left: 0;
    display: none;
}
.top-con .region .region-header:hover .region-body{
    display: block;
    z-index: 20;
}
.t-nav{
    float: right;
    width: 771px;
    height: 28px;
    line-height: 28px;
    z-index: 20;
}
.t-nav>li{
    float: left;
    font-size: 12px;
    color: #666;
    margin: 0 2px;
    width: 80px;
    text-align: center;
    position: relative;
}
.t-nav>li:hover{
    color: #f10180;
}
.t-nav li .n-box{
    top: 28px;
    width: 290px;
    height: 143px;
    background-color: red;
    position: absolute;
    display: none;
}
.t-nav li:nth-child(1):hover{
    background-color: red;
    z-index: 20;
}
.t-nav li:hover .n-box{
    display: block;
}
.t-nav li .d-box{
    width: 460px;
    height: 51px;
    background-color: red;
    position: absolute;
    left: -174px;
    display: none;
}
.t-nav li:hover .d-box{
    display: block;
    z-index: 20;
}
.t-nav li .t-box{
  top: 28px;
    width: 80px;
    height: 100px;
    position: absolute;
    display: none;
    z-index: 20;
    left: -1px;
}

.t-nav li:hover .t-box{
    display: block;
    border: 1px solid gray;
    background-color: white;
    border-top: 0;
    color: blueviolet;
}
.t-nav li:nth-child(5):hover{
    border-bottom: 0;
    border: 1px solid gray;
    background-color: white;
    border-bottom: 0;
}
.t-nav li:nth-child(6):hover{
    border-bottom: 0;
    border: 1px solid gray;
    background-color: white;
    border-bottom: 0;
}
.t-nav li:nth-child(7):hover{
    border-bottom: 0;
    border: 1px solid gray;
    background-color: white;
    border-bottom: 0;
}
.header-con{
    height: 100px;
}
.header-con .logo{
    width: 140px;
    height: 100px;
    float: left;
}
.header-con .header-img{
    width: 304px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-right: 80px;
   
}
.header-con .header-img a{
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 1px;
    
}
.header-con .header-img a:nth-child(1){
    background-image: url(../images/fction.png);
}
.header-con .header-img a:nth-child(2){
    background-image: url(../images/fction.png);
    background-position:-99px 0;
}
.header-con .header-img a:nth-child(3){
    background-image: url(../images/fction.png);
    background-position:-198px 0;
}
.header-con .text{
    width: 453px;
    height: 36px;
    background-color: green;
    float: left;
    position: relative;
    top: 30%;
    border: 2px solid #fa2a83;
    background-color: white;
}
.header-con .text #username{
        width: 379px;
        height: 32px;
        border: 0;
}
.header-con .text .txt{
    width: 397px;
    height: 32px;
    margin-top: 2px;
    float: left;
}
.header-con .text .btn{
    width: 53px;
    height: 32px;
    float: left;
    margin-top: 2px;
    background-color: #fa2a83;
}
.nav-con{
    height: 43px;
}
.nav-con li:nth-child(1) a{
    margin-left: 30px;
}
.nav-con li{
    padding: 0 10px;
}
.nav-con li:nth-child(1){
    padding: 0;
}
.nav-con li a{
    float: left;
    display: block;
    height: 43px;
    padding: 0 10px;
    line-height: 43px;
    text-align: center;
    color: #666;
    margin: 0 5px;
}
.nav-con li a i{
    position: relative;
    top: 10px;
}
.nav-con li:hover a{
    color: #fa2a83;
}
.nav-con li:nth-child(1):hover a{
    color: white;
}
.bg{
    width: 156px;
    height: 43px;
    background-color: #fa2a83;
    float: left;
    margin-right: 20px;
    position: relative;
}
.bg a span{
    color: white;
}
/* 二级菜单 */
.nav-con .bg .bg-nav{
    width: 156px;
    height: 452px;
    background-color: #fa2a83;
    position: absolute;
    top: 43px;
    display: none;
}
.nav-con .bg:hover .bg-nav{
    display: block;
}
.nav-con .bg .bg-nav ol a{
    display: block;
    width: 156px;
    height: 45px;
    text-align: left;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 12px;
}
.nav-con .bg .bg-nav ol a span{
    margin-left: 40px;
}
.nav-con .bg .bg-nav ol a:hover{
    background-color: white;
    color: #fa2a83;
}
.nav-con .bg .bg-nav ol a:hover span{
    color: #fa2a83;
}
/* 三级菜单 */
.nav-con .bg .bg-nav ol{
    position: relative;
}
.nav-con .bg .bg-nav ol .n-box{
    width: 1014px;
    height: 452px;
    background-color: gray;
    position: absolute;
    left: 156px;
    display: none;
}
.nav-con .bg .bg-nav ol:hover .n-box{
    display: block;
}