.top-con,.header-con,.header-con,.nav-con,.footers-con,.bottom{
    width: 1170px;
    margin: 0 auto;
}
#top{
    background-color: #f5f5f5;
}
.top-con{
    height: 28px;
    z-index: 40;
}
.top-con>.region{
    width: 86px;
    height: 28px;
    position: relative;
    float: left;
}
.top-con>.region>.region-header{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #666;
}

.top-con .region .region-header .region-body{
    width: 480px;
    height: 260px;
    background-color: lightcoral;
    position: absolute;
    top: 28px;
    left: 0;
    display: none;
}
.top-con .region .region-header:hover .region-body{
    display: block;
    z-index: 20;
}
.t-nav{
    float: right;
    width: 771px;
    height: 28px;
    line-height: 28px;
    z-index: 20;
}
.t-nav>li{
    float: left;
    font-size: 12px;
    color: #666;
    margin: 0 2px;
    width: 80px;
    text-align: center;
    position: relative;
}
.t-nav>li:hover{
    color: #f10180;
}
.t-nav li .n-box{
    top: 28px;
    width: 290px;
    height: 143px;
    background-color: red;
    position: absolute;
    display: none;
}
.t-nav li:nth-child(1):hover{
    background-color: red;
    z-index: 20;
}
.t-nav li:hover .n-box{
    display: block;
}
.t-nav li .d-box{
    width: 460px;
    height: 51px;
    background-color: red;
    position: absolute;
    left: -174px;
    display: none;
}
.t-nav li:hover .d-box{
    display: block;
    z-index: 20;
}
.t-nav li .t-box{
  top: 28px;
    width: 80px;
    height: 100px;
    position: absolute;
    display: none;
    z-index: 20;
    left: -1px;
}

.t-nav li:hover .t-box{
    display: block;
    border: 1px solid gray;
    background-color: white;
    border-top: 0;
    color: blueviolet;
}
.t-nav li:nth-child(5):hover{
    border-bottom: 0;
    border: 1px solid gray;
    background-color: white;
    border-bottom: 0;
}
.t-nav li:nth-child(6):hover{
    border-bottom: 0;
    border: 1px solid gray;
    background-color: white;
    border-bottom: 0;
}
.t-nav li:nth-child(7):hover{
    border-bottom: 0;
    border: 1px solid gray;
    background-color: white;
    border-bottom: 0;
}
.header-con{
    height: 100px;
}
.header-con .logo{
    width: 140px;
    height: 100px;
    float: left;
}
.header-con .header-img{
    width: 304px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-right: 80px;
   
}
.header-con .header-img a{
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 1px;
    
}
.header-con .header-img a:nth-child(1){
    background-image: url(../images/fction.png);
}
.header-con .header-img a:nth-child(2){
    background-image: url(../images/fction.png);
    background-position:-99px 0;
}
.header-con .header-img a:nth-child(3){
    background-image: url(../images/fction.png);
    background-position:-198px 0;
}
.header-con .text{
    width: 453px;
    height: 36px;
    background-color: green;
    float: left;
    position: relative;
    top: 30%;
    border: 2px solid #fa2a83;
    background-color: white;
}
.header-con .text #username{
        width: 379px;
        height: 32px;
        border: 0;
}
.header-con .text .txt{
    width: 397px;
    height: 32px;
    margin-top: 2px;
    float: left;
}
.header-con .text .btn{
    width: 53px;
    height: 32px;
    float: left;
    margin-top: 2px;
    background-color: #fa2a83;
}
.nav-con{
    height: 43px;
}
.nav-con li:nth-child(1) a{
    margin-left: 30px;
}
.nav-con li{
    padding: 0 10px;
}
.nav-con li:nth-child(1){
    padding: 0;
}
.nav-con li a{
    float: left;
    display: block;
    height: 43px;
    padding: 0 10px;
    line-height: 43px;
    text-align: center;
    color: #666;
    margin: 0 5px;
}
.nav-con li a i{
    position: relative;
    top: 10px;
}
.nav-con li:hover a{
    color: #fa2a83;
}
.nav-con li:nth-child(1):hover a{
    color: white;
}
.bg{
    width: 156px;
    height: 43px;
    background-color: #fa2a83;
    float: left;
    margin-right: 20px;
    position: relative;
}
.bg a span{
    color: white;
}
/* 二级菜单 */
.nav-con .bg .bg-nav{
    width: 156px;
    height: 452px;
    background-color: #fa2a83;
    position: absolute;
    top: 43px;
    display: none;
}
.nav-con .bg:hover .bg-nav{
    display: block;
}
.nav-con .bg .bg-nav ol a{
    display: block;
    width: 156px;
    height: 45px;
    text-align: left;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 12px;
}
.nav-con .bg .bg-nav ol a span{
    margin-left: 40px;
}
.nav-con .bg .bg-nav ol a:hover{
    background-color: white;
    color: #fa2a83;
}
.nav-con .bg .bg-nav ol a:hover span{
    color: #fa2a83;
}
/* 三级菜单 */
.nav-con .bg .bg-nav ol{
    position: relative;
}
.nav-con .bg .bg-nav ol .n-box{
    width: 1014px;
    height: 452px;
    background-color: gray;
    position: absolute;
    left: 156px;
    display: none;
}
.nav-con .bg .bg-nav ol:hover .n-box{
    display: block;
}
/* footer */
#footers{
    border-top: 1px solid #ccc;
}
.footers-con{
    height: 450px;
   

}
.footers-con .footer-vip{
    height: 105px;
}
.footers-con .footer-vip .vip-bg{
    width: 960px;
    height: 105px;
    margin:  0 auto;
}
.footers-con .footer-vip .vip-bg li{
    display:block;
    width: 113px;
    height: 105px;
    float: left;
}
.footers-con .footer-vip .vip-bg li .v-bg{
    display: block;
    width: 72px;
    height: 75px;
    float: left;
}
.bg-01{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: 0 0;
}
.bg-02{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: -110px 0;
}
.bg-03{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: -236px 0;
}
.bg-04{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: -355px 0;
}
.bg-05{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: -478x 0;
}
.bg-06{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: -604px 0;
}
.bg-07{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: -725px 0;
}
.bg-08{
    margin-top: 30px;
    margin-left: 15px;
    background-image: url(../images/footer.png);
    background-position: -845px 0;
}
.footers-con .footer-list{
    height: 146px;
    margin-top: 30px;
    margin: 37px 0 25px;
}
.footers-con .footer-list .list-show{
    width: 960px;
    margin: 0 auto;
    height: 146px;
}
.footer-list .list-box{
    width: 140px;
    height: 146px;
    font-size: 12px;
    float: left;
    padding-left: 15px;
    border-right: 1px solid #ccc;
}
.footer-list .list-box dd{
    padding-left: 8px;
   padding-top: 5px;
    background: url(../images/footer-list.png) no-repeat -6px -494px;
}
.border-none{
    border: none !important;
    width: 136px;
}
.footers-con .footer-info{
    height: 167px;
}
.footer-info .info-show{
    width: 960px;
   height: 167px;
    margin: 0 auto;

}
.footer-info .info-show .info-nav{
    height: 30px;
    background-color: hotpink;
}
.footer-info .info-show .info-nav ul{
    width: 650px;
    margin: 0 auto;
    height: 30px;
}
.footer-info .info-show .info-nav ul li{
    float: left;
    margin: 0 5px;
}
.footer-info .info-show .info-nav ul li a{
    font-size: 12px;
    color: white;
    line-height: 30px;
}
.footer-info .info-show .info-nav ul li span{
    color: white;
}
.footer-info .info-show .info-p{
    width: 960px;
    height: 73px;
    margin: 0 auto;
    font-size: 12px;
}
.footer-info .info-show .info-p p {
    text-align: center;
}
.footer-info .info-show .info-p p a {
    color: gray;
}
.bottom{
    height: 40px;
  
}
.bottom .btm-bg{
    width: 790px;
    height: 40px;
    margin: 0 auto;
}
.bottom .btm-bg a{
    display: block;
    width: 110px;
    height: 40px;
    float: left;
}
.b-bg1{
    background-image: url(../images/footer-list.png);
}
.b-bg2{
    background-image: url(../images/footer-list.png);
    background-position-y: -150px;
}
.b-bg3{
    background-image: url(../images/footer-list.png);
    background-position-y: 289px;
}
.b-bg4{
    background-image: url(../images/footer-list.png);
    background-position-y: -300px;
}
.b-bg5{
    background-image: url(../images/footer-list.png);
    background-position-y: -350px;
}
.b-bg6{
    background-image: url(../images/footer-list.png);
    background-position-y: -400px;
}
.b-bg7{
    background-image: url(../images/footer-list.png);
    background-position-y: -450px;
}