/* 公共 */
.header-con,.bannercn,.goods-con,.banner-con,.c-conter,.footer-con
,.nvgoodslist-con,.nv-top,.show,.listshow,.nvgoodShow,.carconter{
    width: 1170px;
    margin: 0 auto;
}
/* 轮播图 */
#baner{
   background-image: url(../images/baner.jpg);
    padding-top: 30px;
    height: 474px;
    background-repeat: no-repeat;
    background-position: center top;
}
.bannercn{
    width: 1150px;
   height: 400px;
   background-color: white;
   padding: 10px;
   border: 1px solid gray;
}
.bannercn .slider{
    width: 1146px;
    height: 400px;
    background: gray;
    overflow: hidden;
    position: relative;
}
/* 图片盒子 */
.bannercn .slider .sliderNav{
    width: 10000px;
   height: 400px;
}
.bannercn .slider .sliderNav li{
    width: 1146px;
    height: 400px;
    float: left;
}
/* 左右箭头 */
.bannercn .slider .sliderControl{
    width: 1146px;
    height: 40px;
    position: absolute;
    top: 45%;
}
.bannercn .slider .sliderControl .left{
    width: 50px;
    height: 50;
    float: left;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
.bannercn .slider .sliderControl .right{
    width: 50px;
    height: 50;
    float: right;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
/* 点点 */
.bannercn .slider .sliderList{
    position: absolute;
    bottom: 0;
    right: 45%;
}
.bannercn .slider .sliderList li{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    float: left;
    background-color: orange;
    margin: 0 5px;
    line-height: 24px;
}
/* 首页商品 */
.goods-con{
    height: 28000px;
    position: relative;
    
}
.goods-con .goods-a{
    height: 388px;
}
.goods-con .goods-a .img{
    height: 120px;
}
.goods-con .goods-a .a-bottom{
    height: 396px;
    width: 1188px;
   
}
.goods-con .goods-a .a-bottom .a-left{
    width: 396px;
    height: 268px;
    float: left;
    
}
.goods-con .goods-a .a-bottom .a-conter{
    width: 396px;
    height: 268px;
    float: left;
}
.goods-con .goods-a .a-bottom .a-right{
    width: 396px;
    height: 268px;
    float: left;
}
.goods-con .goods-a .a-bottom a{
    display: block;
    width: 378px;
    height: 250px;
}
.goods-con .goods-a .a-bottom a img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.goods-con .goods-b .b-left{
      width: 78px;
      height: 418px;
     position: absolute;
     top: 440px;
     left: -100px;
     border: 1px solid red;
}
.goods-con .goods-b .b-left ul li{
    width: 78px;
    height: 37px;
    text-align: center;
    line-height: 37px;
}
/* 首页商品阶层 */
.goods-con .goods-b .conter li{
        width: 1174px;
        height: 9000px;
}
.goods-con .goods-b .conter li .conter-item{
    display: inline-block;
    width: 570px;
    height: 370px;
    margin-left: 6px;
    margin-top: 10px;
}
.goods-con .goods-b .conter li .conter-item .img{
    width: 570px;
    height: 312px;
 }
 .goods-con .goods-b .conter li .conter-item .img img {
     width: 100%;
     height: 100%;
 }
 .goods-con .goods-b .conter li .conter-item .item-txt{
    width: 530px;
    height: 38px;
    padding: 10px 20px;
    color: #000;
}

/* 商品列表 */
#l-nav{
  background-image: url(../images/nv-list.jpg);
  background-position: 50%;
}
.nvgoodslist-con{
    height: 360px;
}
.nv-top{
    height: 372px;
   
}
.nv-top .nv-title{
    height: 50px;
}
.nv-top .nv-show{
    height: 307px;
}
.nv-top .nv-show .nv-left{
    width: 193px;
    height: 304px;
    border: 1px solid gray;
    float: left;
    border-right: 0;
}
.nv-top .nv-show .nv-left li{
    display: block;
    width: 193px;
    height: 50px;
    background-color: #ff6f8a;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1px;
    color: white;
}
.nv-top .nv-show .nv-left li:hover{
    background-color: #fff;
    color: #ff6f8a;
}
.nv-top .nv-show .nv-right{
    width: 975px;
    height: 304px;
    border: 1px solid red;
    float: right;
    border-left:0;
    overflow: hidden;
}
.nv-top .nv-show .nv-right li{
    display: block;
    width: 975px;
    height: 304px;
    margin-top: 0;
}
/* nv-right .item */

.nv-top .nv-show .nv-right li a{
    display: inline-block;
    width: 191px;
    height: 152px;
    color: #ff6f8a;
}
.nv-top .nv-show .nv-right li a .right-item{
    width: 195px;
    height:100px ;
}
.nv-top .nv-show .nv-right li a .right-item img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
.nv-top .nv-show .nv-right li a .txt{
    width: 195px;
    height: 20px;
    text-align: center;
}
/* 商品列表《女》 */
.nvgoodShow{
    /* width: 1190px; */
    height: 1800px;
    margin-top: 30px;

}
.nvgoodShow .nvgood-item{
    display: inline-block;
    width: 218px;
    height: 400px;
    margin: 5px 5px;
}
.nvgoodShow .nvgood-item a{
    display: block;
    width: 216px;
    height: 398px;
}
.nvgoodShow .nvgood-item a{
    border: 1px solid #ff38c0;
}
.nvgoodShow .nvgood-item a .nvitem-img{
    width: 215px;
    height: 218px;
    position: relative;
}
.nvgoodShow .nvgood-item a .nvitem-img img{
    width: 100%;
    height: 100%;
}
.nvgoodShow .nvgood-item a .nvitem-img .logo{
    width: 60px;
    height: 30px;
    position: absolute;
    top: 0;
    background: rgba(255,255,255, 0);
}
.nvgoodShow .nvgood-item a .nvitem-img .logo img{
    width: 100%;
    height: 100%;
}
.nvgoodShow .nvgood-item a .nvitem-img .cornet{
    width: 34px;
    height: 34px;
    background: rgba(255,255,255, 0);
    position: absolute;
    right: 0;
}
/* 文字部分 */
.nvgoodShow .nvgood-item a .item-bootom{
    width: 216px;
    height: 120px;
}
.nvgoodShow .nvgood-item a .item-bootom .item-priver{
    width: 192px;
    height: 30px;
    margin-top:10px ;
    padding: 0 10px;
}
.nvgoodShow .nvgood-item a .item-bootom .item-priver .label{
    width: 44px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    float: left;
    text-align: center;
}
.nvgoodShow .nvgood-item a .item-bootom .item-priver .priver{
    width: 50px;
    height: 18px;
    float: left;
    text-align: center;
}
.nvgoodShow .nvgood-item a .item-bootom .item-priver .del{
    width: 39px;
    height: 18px;
    float: left;
    font-size: 14px;
    text-align: center;
}
.nvgoodShow .nvgood-item a .item-bootom .item-priver .discount{
    width: 34px;
    height: 18px;
    float: left;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
}
.nvgoodShow .nvgood-item a .item-bootom .text{
    width: 172px;
    height: 80px;
    padding: 0 20px;
}
.nvlist{
    display: inline-block;
    width: 218px;
    height: 400px;
    padding: 0 5px;
}
/* 页面商品 */
.listshow{
    height: 29000px;
}
.listshow .listshow-item{
    display: inline-block;
    width: 470px;
    height: 370px;
    margin-left: 60px;
    margin-top: 30px;
}
.listshow .listshow-item .img{
    width: 470px;
    height: 312px;
}
.listshow .listshow-item .img img{
    width: 100%;
    height: 100%;
}
.listshow .listshow-item .item-txt{
    width: 450px;
    height: 38px;
    padding: 10px 10px;
}
/* 商品详情页 */
.show{
    height: 400px;
    padding-top: 100px;
}
.show .showlist{
    width: 300px;
    height: 300px;
    float: left;
    position: relative;
    z-index: 15;
}
 .show .showlist img{
     position: absolute;
   width: 300px;
   height: 300px;
  
}
.show .showlist .boxshow{
    position: absolute;
    width: 150px;
    height: 150px;
    display: none;
    background-color: black;
    border: 1px solid black;
}
.show .maxshow{
    width: 600px;
    height: 600px;
    position:absolute;
    left: 600px;
    overflow: hidden;
    display: none;
   
}
.show .maxshow  img{
    width: 1200px;
    height:1200px;
    position: absolute;
}
/* 文本内容 */
.show .showtext{
    width: 550px;
    height: 400px;
    float: left;
    margin-left: 45px;
}
.show .showtext .f-show{
    width: 420px;
    height: 420px;
    position: relative;
}
.show .showtext .pib-title{
    width: 550px;
    height: 50px;
}
.show .showtext .pib-title a{
    display: block;
    width: 340px;
    height: 22px;
}
.show .showtext .pib-title a img{
    width: 60px;
    height: 20px;
}
.show .showtext .pib-title .pib-title-data{
    width: 550px;
    height: 20px;
   padding:10px;
}
/* 价格 */
.show .showtext .pib-priver{
    width: 550px;
    height: 94px;
    background-color: #f10180;
    margin:15px 0 0 15px;
}
.show .showtext .pib-priver .pib-privertxt{
    width: 200px;
    height: 30px;
    padding: 30px;
    float: left;
}
.show .showtext .pib-priver .pib-privertxt .text{
    font-size: 30px;
    color: white;
}
.show .showtext .pib-priver .pib-privertxt span{
    color: white;
}
.show .showtext .pib-priver .pib-privertxt del{
    color: white;
}
/* 运费样式 */
.show .showtext .pib-freight{
    width: 550px;
    height: 32px;
    margin-top: 30px;
}
.show .showtext .pib-freight span{
    font-size: 12px;
    padding: 20px;
}
/* 数量 */
.show .showtext .pib-count{
    width: 200px;
    height: 28px;
    margin-top: 20px;
}
.show .showtext .pib-count span{
    font-size: 12px;
    margin-left: 20px;
}
.show .showtext .pib-count .count{
    display: block;
    width: 80px;
    height: 28px;
    float: right;
}
.show .showtext .pib-count .count button:nth-child(1){
    width: 21px;
    height: 22px;
    float: left;
}
.show .showtext .pib-count .count .count-n{
    width: 31px;
    height: 20px;
    border: 1px solid gray;
    float: left;
}
.show .showtext .pib-count .count input{
    width: 31px;
    height: 20px;
    border: 0;
}
.show .showtext .pib-count .count button:nth-child(2){
    width: 21px;
    height: 28px;
    float: left;
}
/* 按钮 */
.show .showtext .carbtn{
    width: 100px;
    height: 40px;
    margin: 25px;
    background-color: hotpink;
    border-color: hotpink;
    outline-color: hotpink;
}
/* 登录 */
#header{
    background-color: #ffffff;
}
.header-con{
    height: 100px;
}
.header-con>.a-logo{
    width: 125px;
    height: 100px;
    background-image: url(../images/fction.png);
    background-position: -308px -57px;
    line-height: 500px;
    overflow: hidden;
    float: left;
}
.header-con>.a-right{
    width: 304px;
    height: 100px;
    background-image: url(../images/fction.png);
    background-position: 0 0;
    float: right;
}
#banner{
    background-image: url(../images/login-banner.jpg);
    background-position: top center;
    background-repeat: no-repeat;

}
.banner-con{
    height: 650px;
}
.banner-con>.c-conter{
    padding: 50px 20px;
    height: 650px;
}
.banner-con>.c-conter>.c-login{
    width: 360px;
    height: 433px;
    background-color: #fff;
    float: right;
}
.banner-con>.c-conter>.c-login>.c-tab{
    width: 360px;
    height: 50px;
    color: #666;
    
}
.banner-con>.c-conter>.c-login>.c-tab>.c-tab-title{
    width: 180px;
    height: 49px;
    float: left;
    line-height: 50px;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    
}
.banner-con>.c-conter>.c-login>.c-tab>.c-tab-title>span{
    display: block;
    color: #ccc;
    float: right;
}
.banner-con>.c-conter>.c-login>.c-tab>.active{
    color: #f10180;
    display: block;
}

.banner-con>.c-conter>.c-login>.c-tab-conter{
    width: 360px;
    height: 271px;
    padding-top: 40px;
    position: relative;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box{
    width: 300px;
    height: 271px;
    margin-left: auto;
    margin-right: auto;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box:nth-child(1){
    position: absolute;
    left: 8%;
    display: none;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.tive{
  display: block;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form{
    width: 300px;
    height: 67px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form>.c-form-a{
    width: 298px;
    height: 46px;
    border: 1px solid #000;
    line-height: 43px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form>.c-form-a>input{
    width: 240px;
    height: 32px;
    line-height: 48px;
    margin-left: 40px;
    border: 0;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form>.c-form-b{
    width: 300px;
    height: 21px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code{
    width: 300px;
    height: 50px;
   
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-txt{
    width: 150px;
    height: 50px;
   
    float: left;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-txt>#s-text{
    width: 150px;
    height:30px;
    border: 0;
    border:1px solid gray;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-txt>#hint-s{
    display: block;
    width: 150px;
    height: 20px;
    font-size: 12px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-code{
    width: 100px;
    height: 50px;
    float: right;
    line-height: 50px;
    background-color: #666;
    text-align: center;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-txt>#c-tcode{
    width: 150px;
    height: 50px;
    line-height: 50px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.submit{
    width: 300px;
    height: 50px;
    background-color: #f10180;
    margin-top: 40px;
    border: 1px solid #f10180;
    opacity: 0.9;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.submit:hover{
    opacity: 1;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-bottom>.btn{
   background-color: #fff;
   color: #ccc;
   width: 60px;
   height: 30px;
   border: 0;
  margin: 20px 0 0 119px;
  outline: none;
  cursor: pointer;
}
.footer-con{
    height: 78px;
}
.footer-con>p{
    color: #ccc;
    text-align: center;
    margin-top: 34px;
}
/* 注册 */
.banner-con>.c-conter>.c-register{
    width: 360px;
    height: 536px;
    background-color: #fff;
    float: right;
}
.banner-con>.c-conter>.c-register>.c-top{
    width: 300px;
    height: 51px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.banner-con>.c-conter>.c-register>.c-top>.c-top-h{
    float: right;
    height: 51px;
    line-height: 51px;
}
.banner-con>.c-conter>.c-register>.c-top>.c-top-h>a{
    color: #f10180;
    font-size: 14px;
}
.banner-con>.c-conter>.c-register>.c-top>.c-top-lg{
    line-height: 51px;
    font-size: 18px;
    font-weight: 600;
    color: #666;
}
.banner-con>.c-conter>.c-register>.c-reg-body{
    width: 360px;
    height: 455px;
}
.banner-con>.c-conter>.c-register>.c-reg-body>.c-conter{
    width: 300px;
    height: 395px;
    padding:30px;
}
.c-reg-body>.c-conter>.c-register{
    width: 300px;
    height: 67px;
    margin-bottom: 8px;
}
.c-reg-body>.c-conter>.c-register>.c-regtxt{
    width: 300px;
    height: 45px;
    border: 1px solid #000;
    line-height: 46px;
}
.c-reg-body>.c-conter>.c-register>.c-regtxt>input{
    width: 250px;
    height: 30px;
    border: 0;
    margin-left: 50px;
}
.c-reg-body>.c-conter>.c-register>.hint{
    width: 300px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-top:10px ;
}
.c-reg-body>.c-conter>.c-register>.c-reg{
    height: 42px;
    width: 300px;
}
.c-reg-body>.c-conter>.c-register>.c-reg>.c-regcode{
    width: 150px;
    height: 67px;
    float: left;
    line-height: 42px;
}
.c-reg-body>.c-conter>.c-register>.c-reg>.c-regcode input{
    width: 110px;
    height: 42px;
    line-height: 42px;
    padding-left: 53px;
    
}
.c-reg-body>.c-conter>.c-register>.c-reg>.c-codetxt{
    width: 120px;
    height: 42px;
    float: right;
    border:  1px solid #000;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}
.c-reg-body>.c-conter>.reglit{
    width: 300px;
    height: 50px;
    background-color: #f10180;
    border: #f10180;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
/* 购物车 */
.carconter{
    height: 530px;
    margin-top:50px;
    padding-top: 70px;
}
.carconter .car-txt{
    width: 958px;
   min-height: 400px;
    margin: 0 auto;
}
.carconter .car-txt ul{
    width: 958px;
    height: 40px;
}
.carconter .car-txt ul li{
    display: block;
    width: 239px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
}
.carconter .car-txt .car-show{
    width: 956px;
    min-height: 400px;
}
.carconter .car-txt .car-show .car-list{
    width: 956px;
    height: 100px;
    background-color: honeydew;
    margin-top: 10px;
}
.carconter .car-txt .car-show .car-list .car-listbox{
    width: 270px;
    height: 100px;
    float: left;
}
.carconter .car-txt .car-show .car-list .car-listbox .car-img{
    width: 100px;
    height: 100px;
    float: left;
}
.carconter .car-txt .car-show .car-list .car-listbox .car-img img{
    width: 100%;
    height: 100%;
}
.carconter .car-txt .car-show .car-list .car-listbox .car-text{
    width: 170px;
    height: 100px;
    float: left;
    font-size: 12px;
    margin-top: 50px;
}
.carconter .car-txt .car-show .car-list .car-list-prive{
    width: 70px;
    height: 100px;
    float: left;
    margin-left: 40px;
    /* padding-left: 30px; */
}
.carconter .car-txt .car-show .car-list .car-list-prive span{
    line-height: 100px;
   
}
.carconter .car-txt .car-show .car-list .car-list-count{
    width: 150px;
    height: 100px;
    float: left;
    margin-left: 130px;
}
.carconter .car-txt .car-show .car-list .car-list-count .count{
    width: 100px;
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
}
.carconter .car-txt .car-show .car-list .car-list-count .count .leftbtn{
    width: 20px;
    height: 22px;
    float: left;
}
.carconter .car-txt .car-show .car-list .car-list-count .count input{
    width: 30px;
    height: 18px;
    float: left;
    border: 0;
    text-align: center;
}
.carconter .car-txt .car-show .car-list .car-list-count .count .rightbtn{
    width: 20px;
    height: 22px;
    float: left;
}
.carconter .car-txt .car-show .car-list .car-list-caozuo{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 100px;
}
 .car-show .car-list .car-list-caozuo span{
    line-height: 100px;
    margin-left: 30px;
    text-align: center;
    margin-left: 60px;
}
.carconter .car-txt .car-count{
    width: 958px;
    height: 60px;
    background-color: #666;
}
.carconter .car-txt .car-count .countbtn{
    width: 200px;
    height: 60px;
    background-color: #f10180;
    float: right;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
} 
.carconter .car-txt .car-count .countbtn a{
    width: 100px;
    height: 60px;
    color: #000;
}