/* 登录 */
.header-con,.banner-con,.c-conter,.footer-con{
    width: 1000px;
    margin: 0 auto;
}
#header{
    background-color: #ffffff;
}
.header-con{
    height: 100px;
}
.header-con>.a-logo{
    width: 125px;
    height: 100px;
    background-image: url(../images/fction.png);
    background-position: -308px -57px;
    line-height: 500px;
    overflow: hidden;
    float: left;
}
.header-con>.a-right{
    width: 304px;
    height: 100px;
    background-image: url(../images/fction.png);
    background-position: 0 0;
    float: right;
}
#banner{
    background-image: url(../images/login-banner.jpg);
    background-position: top center;
    background-repeat: no-repeat;

}
.banner-con{
    height: 650px;
}
.banner-con>.c-conter{
    padding: 50px 20px;
    height: 650px;
}
.banner-con>.c-conter>.c-login{
    width: 360px;
    height: 433px;
    background-color: #fff;
    float: right;
}
.banner-con>.c-conter>.c-login>.c-tab{
    width: 360px;
    height: 50px;
    color: #666;
    
}
.banner-con>.c-conter>.c-login>.c-tab>.c-tab-title{
    width: 180px;
    height: 49px;
    float: left;
    line-height: 50px;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    
}
.banner-con>.c-conter>.c-login>.c-tab>.c-tab-title>span{
    display: block;
    color: #ccc;
    float: right;
}
.banner-con>.c-conter>.c-login>.c-tab>.active{
    color: #f10180;
    display: block;
}

.banner-con>.c-conter>.c-login>.c-tab-conter{
    width: 360px;
    height: 271px;
    padding-top: 40px;
    position: relative;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box{
    width: 300px;
    height: 271px;
    margin-left: auto;
    margin-right: auto;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box:nth-child(1){
    position: absolute;
    left: 8%;
    display: none;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.tive{
  display: block;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form{
    width: 300px;
    height: 67px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form>.c-form-a{
    width: 298px;
    height: 46px;
    border: 1px solid #000;
    line-height: 43px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form>.c-form-a>input{
    width: 240px;
    height: 32px;
    line-height: 48px;
    margin-left: 40px;
    border: 0;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-form>.c-form-b{
    width: 300px;
    height: 21px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code{
    width: 300px;
    height: 50px;
   
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-txt{
    width: 150px;
    height: 50px;
    background-color: gray;
    float: left;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-code{
    width: 100px;
    height: 50px;
    float: right;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.code>.c-txt>#c-tcode{
    width: 150px;
    height: 50px;
    line-height: 50px;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.submit{
    width: 300px;
    height: 50px;
    background-color: #f10180;
    margin-top: 40px;
    border: 1px solid #f10180;
    opacity: 0.9;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.submit:hover{
    opacity: 1;
}
.banner-con>.c-conter>.c-login>.c-tab-conter>.c-conter-box>.c-bottom>.btn{
   background-color: #fff;
   color: #ccc;
   width: 60px;
   height: 30px;
   border: 0;
  margin: 20px 0 0 119px;
  outline: none;
  cursor: pointer;
}
.footer-con{
    height: 78px;
}
.footer-con>p{
    color: #ccc;
    text-align: center;
    margin-top: 34px;
}
/* 注册 */
.banner-con>.c-conter>.c-register{
    width: 360px;
    height: 536px;
    background-color: #fff;
    float: right;
}
.banner-con>.c-conter>.c-register>.c-top{
    width: 300px;
    height: 51px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.banner-con>.c-conter>.c-register>.c-top>.c-top-h{
    float: right;
    height: 51px;
    line-height: 51px;
}
.banner-con>.c-conter>.c-register>.c-top>.c-top-h>a{
    color: #f10180;
    font-size: 14px;
}
.banner-con>.c-conter>.c-register>.c-top>.c-top-lg{
    line-height: 51px;
    font-size: 18px;
    font-weight: 600;
    color: #666;
}
.banner-con>.c-conter>.c-register>.c-reg-body{
    width: 360px;
    height: 455px;
}
.banner-con>.c-conter>.c-register>.c-reg-body>.c-conter{
    width: 300px;
    height: 395px;
    padding:30px;
}
.c-reg-body>.c-conter>.c-register{
    width: 300px;
    height: 67px;
    margin-bottom: 8px;
}
.c-reg-body>.c-conter>.c-register>.c-regtxt{
    width: 300px;
    height: 45px;
    border: 1px solid #000;
    line-height: 46px;
}
.c-reg-body>.c-conter>.c-register>.c-regtxt>input{
    width: 250px;
    height: 30px;
    border: 0;
    margin-left: 50px;
}
.c-reg-body>.c-conter>.c-register>.hint{
    width: 300px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}
.c-reg-body>.c-conter>.c-register>.c-reg{
    height: 42px;
    width: 300px;
}
.c-reg-body>.c-conter>.c-register>.c-reg>.c-regcode{
    width: 150px;
    height: 67px;
    float: left;
    line-height: 42px;
}
.c-reg-body>.c-conter>.c-register>.c-reg>.c-regcode input{
    width: 110px;
    height: 42px;
    line-height: 42px;
    padding-left: 53px;
    
}
.c-reg-body>.c-conter>.c-register>.c-reg>.c-codetxt{
    width: 120px;
    height: 42px;
    float: right;
    border:  1px solid #000;
}